/* ._card_jf32_0 */
.card {
    border: 1px solid red;
    border-radius: 20px;
}

.card:hover {}

.box-shadow {
    box-shadow: 1px 1px 1px 1px black;
}

.bgc {
    background-color: rgb(3, 3, 148);
}

.button {}