header {
    background-color: black;
    color: white;
}

footer {
    background-color: blue;
    color: white;
}

.content {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
}